{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="p-4 rounded shadow" style="background-color: white; width: 100%; max-width: 500px;">
        <h2 class="text-center mb-4">
            <a href="{% url 'home' %}" class="text-decoration-none text-dark">Illumina.Ai</a>
        </h2>

        <div class="mb-4 text-center">
            <p>Upload the file you want to work with</p>
        </div>

        <form method="POST" enctype="multipart/form-data" class="text-center">
            {% csrf_token %}
            <div class="mb-3 d-flex justify-content-center">
                <!-- Change name to 'file' here -->
                <input type="file" name="file" class="form-control w-auto" required>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary px-4 py-2">Upload and Start</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
