/* static/css/style.css */

#chatBox {
    background-color: #f8f9fa;
    border-radius: 5px;
    height: 100%;
    overflow-y: scroll;
}

.message {
    margin-bottom: 10px;
}

.message.you {
    text-align: right;
}

.message.other {
    text-align: left;
}
